{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Category</th>
                <th>Date_peremption</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.category }}</td>
                <td>{{ produit.datePeremption ? produit.datePeremption|date('d/m/Y') : 'Aucune' }}</td>
                <td>
                    {
                    <a href="{{ path('produitapp_produit_show', {'id': produit.id}) }}">Voir</a>
                    <a href="{{ path('produitapp_produit_edit', {'id': produit.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun produit trouvé dans le catalogue</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Créer un nouveau produit</a>
{% endblock %}
